#title p{
    font-family : Helvetica;
    font-size : 30px;
    margin: 0 auto;
}

#choro-map{

     margin : 10px 0;
    border : 1px solid black;
}

#controls{
    width: 100%;
    height: auto;
    border : 1px solid black;
    margin:10px 0;
}

#line-graph{
   /* width : 99%;
    height : 45%;*/
    border : 1px solid black;
    margin : 10px 0;
    float:right;
}
.blank_map{
    width:100%;
}
#ElectStat-title{
    margin : 0 0 0 3px;
    font-family:Helvetica;
    font-size: 30px;
}