#title p{
    font-family : Helvetica;
    font-size : 30px;
    margin: 0 auto;
}

#choro-map{

     margin : 10px 0;
    border : 1px solid black;
}

#controls{
    width: 100%;
    height:15%;
    border : 1px solid black;
    margin:10px 0;
}

#line-graph{
   /* width : 99%;
    height : 45%;*/
    border : 1px solid black;
    margin : 10px 0;
    float:right;
}
.blank_map{
    width:100%;
}
#ElectStat-title{
    margin : 0 0 0 3px;
    font-family:Helvetica;
    font-size: 30px;
}

#YearSlider,#MonthSlider,#Source-checklist{
    width:700px;
    margin: 0 auto;
}
.Source-checklist div{
    margin-left:auto;
margin-right:auto;
}
label
{
    font-family:Helvetica;
}
.palette {
  cursor: pointer;
  display: inline-block; 
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 37px;
  height: 22px;
}

.class-for-color-1 {
    fill: #ffffe5;
}
.class-for-color-2 {
    fill: #f7fcb9;
}
.class-for-color-3 {
    fill: #d9f0a3;
}
.class-for-color-4 {
    fill: #addd8e;
}
.class-for-color-5 {
    fill: #78c679;
}
.class-for-color-6 {
    fill: #41ab5d;
}
.class-for-color-7 {
    fill: #238443;
}
.class-for-color-8 {
    fill: #006837;
}
.class-for-color-9 {
    fill: #ffffe5;
}

.wind,.Nuclear,.Coal,.Solar,.Geothermal,.Biomass,.Natural-gas,.Petroleum-liquids,.All-fuels { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
path:hover{
    stroke:black;
    stroke-width:2.5px;
    pointer-events:all;
}

#choro-map text {
    text-anchor:middle;
    font-size: 25px;
    float : left;
    font-family: helvetica;
}

#LegendOutline
{
    float: right;
    border: 1px
       
}
.squareLegend   {
    width:8px;
    height: 8px;
    border: 1px
    solid #000;
    display: inline-block;
}
.Eachlegend
{
    display: inline;
    padding-right: 5px;
}
.textlegend
{
    display: inline-block;
}
.inlineblock
{
    display: inline-block;
    float:left;
}
#Nuclear-legend
{
  background:blue;
}
.Nuclear{
    stroke : blue;
}
#Solar-legend
{
  background:orange;
}
.Solar{
    stroke:orange;
}
#Wind-legend
{
  background:green;
}
.Wind{
    stroke:green;
}
#Geothermal-legend
{
  background:red;
}
.Geothermal{
    stroke:red;
}
#Coal-legend
{
  background:black;
}
.Coal{
    stroke:black;
}
#Biomass-legend
{
  background:#9900ff;
}
.Biomass{
    stroke:#9900ff;
}
#Naturalgas-legend
{
  background:#cc6600;
}
.Natural-gas{
    stroke:#cc6600;
}

#Petroleumliquids-legend
{
  background: pink ;
}
.Petroleum-liquids{
    stroke:pink;
}
#Allfuels-legend
{
  background:yellow;
}
.All-fuels{
    stroke:yellow;
}
#Sliders{
    padding:20px;
}